{% load static %}
{% block header %}
<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>STORYPPW-jagonyappw</title>

    <!-- Bootstrap's CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom (static) CSS -->
    <link href=" {% static '/css/style.css' %}" rel="stylesheet" id="custom-css-file">

    <!-- Custom fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,700,900" rel="stylesheet">
  </head>
{% endblock %}
{% include "navbar.html" %}