{% include "header.html" %}
{% block index_1 %}
    <div class="imgbox">
        <img class="center-fit" src='https://i.imgur.com/XryV3yW.jpg' alt="DoubleExp-Photography">
    </div>
    <section>
        <style>
            h1 {
                color: #2f2c2c;
                font: 48px "Source Sans Pro", arial, sans-serif;
                font-weight: 700
            }

            p {
                color: #434141;
                font: 18px "Varela Round", sans-serif;
                font-weight: 50;
            }

            * {
                margin: 0;
                padding: 0;
            }

            .imgbox {
                display: grid;
                height: 100%;
            }

            .center-fit {
                max-width: 100%;
                max-height: 100vh;
                margin: auto;
            }

            .center-Text {
                max-width: 50%;
                min-width: 640px;
                max-height: 40%;
                min-height: 100px;
            }
        </style>

        <h1 class="center-Text">
            Tentang Saya...
        </h1>

        <p class="center-Text">
            <b>Nama</b>             : Adam Maulana<br />
            <b>NPM</b>              : 1706043651<br />
            <b>Perguruan Tinggi</b> : Universitas Indonesia<br />
            <b>Fakultas</b>         : Ilmu Komputer<br />
            <b>Hobi</b>             : Baca buku dan main/mendengarkan musik<br />
        <p>
            <br />
            <b>Deskripsi diri</b>   :
        </p>
        </p>
        <p>
            Saya Adam Maulana, merupakan anak terakhir dari empat bersaudara yang bertempat tinggal di ujung Utara Kota Jakarta. Saya mengenal diri saya sendiri sebagai orang yang cukup semangat
            untuk melakukan perbaikan secara bertahap, baik terhadap diri sendiri maupun orang lain. Di kampus yang saya cintai ini, saya memilih untuk aktif di beberapa Kepanitiaan dan Lembaga Dakwah Fakultas,
            tujuannya adalah untuk berkontribusi untuk meyebarkan kebaikan, serta melatih kemampuan diri baik <i>soft-skill</i> maupun <i>hard-skill</i>.
            <br />
            <br />
        </p>

    </section>

    <div class="imgbox">
        <img class="center-fit" src='http://www.about.tarung2017.com/foto/224.jpg' ">
    </div>
    <section>
        <style>
            h1 {
                color: #2f2c2c;
                font: 48px "Source Sans Pro", arial, sans-serif;
                font-weight: 700
            }

            p {
                color: #434141;
                font: 18px "Varela Round", sans-serif;
                font-weight: 50;
            }

            * {
                margin: 0;
                padding: 0;
            }

            .imgbox {
                display: grid;
                height: 100%;
            }

            .center-fit {
                max-width: 100%;
                max-height: 100vh;
                margin: auto;
            }

            .center-Text {
                max-width: 50%;
                min-width: 640px;
                max-height: 40%;
                min-height: 100px;
            }
        </style>

        <h1 class="center-Text">
            Tentang Saya...
        </h1>

        <p class="center-Text">
            <b>Nama</b>             : M. Nadhirsyah Indra<br />
            <b>NPM</b>              : 1706039383<br />
            <b>Perguruan Tinggi</b> : Universitas Indonesia<br />
            <b>Fakultas</b>         : Ilmu Komputer<br />
            <b>Hobi</b>             : Main Game<br />
        <p>
            <br />
            <b>Deskripsi diri</b>   :
        </p>
        </p>
        <p>
            Teman saya ini sering dipanggil "Nadhir", ia merupakan sosok yang cukup meyenangkan orang lain, ia juga sangat mudah untuk diajak main kesana dan kemari. Ia pun memiliki banyak teman di kampusnya.
            <br />
            <br />
        </p>

    </section>

    </section>

    <div class="imgbox">
        <img class="center-fit" src='http://www.about.tarung2017.com/foto/119.jpg' ">
    </div>
    <section>
        <style>
            h1 {
                color: #2f2c2c;
                font: 48px "Source Sans Pro", arial, sans-serif;
                font-weight: 700
            }

            p {
                color: #434141;
                font: 18px "Varela Round", sans-serif;
                font-weight: 50;
            }

            * {
                margin: 0;
                padding: 0;
            }

            .imgbox {
                display: grid;
                height: 100%;
            }

            .center-fit {
                max-width: 100%;
                max-height: 100vh;
                margin: auto;
            }

            .center-Text {
                max-width: 50%;
                min-width: 640px;
                max-height: 40%;
                min-height: 100px;
            }
        </style>

        <h1 class="center-Text">
            Tentang Saya...
        </h1>

        <p class="center-Text">
            <b>Nama</b>             : Moh. Adli Daffa W.<br />
            <b>NPM</b>              : 1706984663<br />
            <b>Perguruan Tinggi</b> : Universitas Indonesia<br />
            <b>Fakultas</b>         : Ilmu Komputer<br />
            <b>Hobi</b>             : Belajar dan ngoding<br />
<p>
            <br />
            <b>Deskripsi diri</b>   :
        </p>
        </p>
        <p>
            Teman saya yang ini sering dipanggil Adli oleh kerabat-kerabatnya. Ia merupakan teman saya yang sangat perhatian dengan dunia akademis dan menggali ilmu-ilmu yang
            ada di Fasilkom. Kesehariannya ia selalu mencoba dan belajar hal-hal seputar pemrograman agar masa depannya ia dapat menjadi seorang <i>expert</i> di bidang teknologi dan informasi, khususnya pemrograman komputer.
            <br />
            <br />
        </p>

    </section>
</body>

{% endblock %}

{% include "footer.html" %}
