{% include "header.html" %}
{% block index4 %}
<body id="page-top">
    <div class="page-1-1" id="page1">
        <div class="container-fluid">
            <div class="row-sm">
                <div class="col-sm"></div>
                <div class="col-sm">

                    <div class="row justify-content-md-center"
                        style="
                        max-width: 600px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 100px;
                        margin-bottom: 50px;">
                        <img src='https://i.imgur.com/XryV3yW.jpg' alt="DoubleExp-Photography" class="rounded mx-auto d-block" alt="wkwkwk" style="
                        margin: auto;
                        width: 24vw; height: 18vw;">
                        
                    
                    </div>


                    <div class="row justify-content-md-center"
                        style="
                        max-width: 600px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 50px;
                        margin-bottom: 50px;">
                        <div class="input-group mb-3"
                            style="
                            
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 25px;
                            margin-bottom: 25px;
                            border-left-width: 2.5rem;
                            border-right-width: 2.5rem;
                            padding-left: 25px;
                            padding-right: 25px;
                            padding-top: 5px;
                            padding-top: 5px;
                            ">
                            <input type="text" class="form-control" placeholder="What's Up?" aria-label="What's Up?" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Post!</button>
                          </div>
                        </div>

                        <form action="{% url 'story4:clr_event' %}" method="GET">
                    <a href="story5-clr-event" class="btn btn-primary btn-lg" role="button" aria-disabled="false">Clear Event!</a>
                    
                    </div>
                    {% for data in schedules%}
                    <!-- ===============individual schedule view start -->
                    <div class="row justify-content-md-center"
                        style="
                        max-width: 600px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 50px;
                        margin-bottom: 50px;">
                        <div class="alert alert-info" role="alert">
                            <div class="row">
                                <span class="badge badge-dark">
                                    <a><Strong>{{ data.date | date:'l'}}</Strong></a><br/>
                                    <a class="big-text1xx">{{ data.date | date:'d'}}</a><br/>
                                    <a><strong>{{ data.date | date:'M Y'}}</strong></a>
                                </span>
                                <span class="badge badge-info">
                                    <a class="desc-textxx">{{ data.event_name }}</a><br/><br/>
                                    <a class="desc-textxx-small">Location : {{ data.location }}</a><br/>
                                    <a class="desc-textxx-small">Category : {{ data.category }}</a><br/>
                                    <a class="desc-textxx-small">Time : {{ data.time | time:'h:i A'}}</a>
                                </span>
                            </div>
                        </div>
                       <!-- ==========individual schedule view end here -->
                    </div>
                    {% endfor %}
            
                </div>
                <div class="col-sm"></div>
            </div>
        </div>  
            
    </div>
</body>
{% endblock %}
{% include "footer.html" %}