
{% block navbar %}

<body id="page-top">

	<!-- Navigation Start Here -->
	<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4" id = "navbar_dark">
            <a class="text-navbar-1" href="/story1">Story1</a> <br/>
            <a class="text-navbar-1" href="/story4">Story4</a> <br/>
            <a class="text-navbar-1" href="/story4/story5-crt-event">Create Schedule!</a> <br/>
            

        </div>
    </div>
    	<nav class="navbar navbar-dark bg-dark">
        	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" id="nav_button">
            <span class="navbar-toggler-icon"></span>
        	</button>
        </nav>
	</div>

	<!-- Navigation End Here -->
{% endblock %}

